langchain
langgraph
langchain-core
langchain-community
python-dotenv
langchain-text-splitters
langchain-groq
python-dotenv
langchain-huggingface
 
chromadb
pypdf
transformers
tokenizers
sentencepiece
huggingface-hub
streamlit
pydantic
streamlit
fastapi
uvicorn
 